body {
  font-family: cursive;
}
.cat-item {
  width: 400px;
  height: 600px;
  border: 1px solid #797abc;
  padding: 10px;
  border-radius: 7px;
  background-color: gray;
}

.allcats {
  width: 100vw;
  height: 100vh;    
}

.cat-title {
  text-align: center;
  font-size: 30px;
}

.cat-photo {
  object-fit: cover;
  border-radius: 10px;
}

.cat-price {
  text-align: center;
  font-size: 20px;
}